.container{

  display: inline-block;
  margin: 10px;
  margin-top: 20px;
  background: linear-gradient(#000000, #7d7b7b);
  width:300px ;
  height:300px ;
  border-radius: 20px;
  text-align: left;
  color:rgb(0, 0, 0);

}
p{
  padding-left: 10px;
}
.cons{
  display: block;
}
.container:hover{
  cursor: pointer;
  scale: 1.1;
}
img{
  padding-top: 6px;
display: block; /* Ensure the image is treated as a block element */
  margin: 0 auto; /* Center the image horizontally */
  text-align: center; /* Center the image vertically */
}

