<div>
  <h1 class="title"> WELCOME TO COURSE LEARNER</h1>
</div>
<marquee direction="right"><h1>Course Learner New And Improved.</h1></marquee>
<div class="back" >
  <video width="320" height="240"  autoplay>
    <source src="movie.mp4" type="video/mp4">

  Your browser does not support the video tag.
  </video>
</div>
<div class="container">
<div class="p-container">
  <img src="../../assets/pr.jpg" alt="Programming" width="50px" height="50px">
  <h1> Programs</h1><br>
  <p>Course Leaner is the future of the Programs</p>
</div>
<div class="p1-container">
  <img src="../../assets/vec.jfif" alt="Programming" width="50px" height="50px">
  <h1> Achivements</h1>
  <p>Won the Worlds Best Learning Platform</p>
</div>
<div class="a-container">
  <img src="../../assets/pla.jpg" alt="Programming" width="50px" height="50px">
  <h1> Placement</h1>
  <p> 100% Placement Achivement in 2023</p>
</div>
</div>
<div class="logan">

</div>
